.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--base2);
  border-radius: 2rem;
  gap: 1rem;
  min-width: 0;
  width: 100%;
  padding: 2rem;
  font-size: 1rem;
  font-family: "Cal Sans", sans-serif;
  animation: cardAppear 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  background-color: var(--surface);
  cursor: pointer;
  transform: scale(1.03);
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.card img {
  width: 100%;
  height: auto;
}

@keyframes cardAppear {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .card {
    font-size: 12px;
    padding: 8px;
    border-radius: 8px;
  }
}
